rules:
    comma-dangle: [1, "always-multiline"]
    prefer-const: 1


extends: eslint:recommended

ecmaFeatures:
    arrowFunctions: true
    blockBindings: true
    modules: true
    destructuring: true
    forOf: true
    objectLiteralComputedProperties: true
    objectLiteralShorthandMethods: true
    objectLiteralShorthandProperties: true
    templateStrings: true
    spread: true
    restParams: true

# vim: ft=yaml
